<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400691282007-jolp1u2ulldk0n077kubjf61hm3ut8lg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400691282007-jolp1u2ulldk0n077kubjf61hm3ut8lg</string>
	<key>API_KEY</key>
	<string>AIzaSyB8q0i8V-jh00C9oB0ok5fRNSFwLA6O63k</string>
	<key>GCM_SENDER_ID</key>
	<string>400691282007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GetBold.toDo</string>
	<key>PROJECT_ID</key>
	<string>getbold-todo-ed576</string>
	<key>STORAGE_BUCKET</key>
	<string>getbold-todo-ed576.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400691282007:ios:8750d74edef065bd096312</string>
</dict>
</plist>